<configuration>
  <configSections>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data" requirePermission="true"/>
    <section name="mes.ivtest" type="WinClient.ColorTestDataTransfer.Configuration.ColorTestConfigurationSection,WinClient.ColorTestDataTransfer"/>
  </configSections>
  <!--<dataConfiguration defaultDatabase="RPTDB"/>-->
  <connectionStrings>
    <!--<add name="RPTDB"
         connectionString="Server=192.168.4.123;uid=sa;password=123456;initial catalog=JNMES;Pooling=true;Max Pool Size=40000;Min Pool Size=0;"
         providerName="System.Data.SqlClient"/>-->
   <!--源头数据库连接地址-->
      <add  name="connClient" connectionString="server=10.0.2.133;database=EL_color;uid=sa;pwd=#*c123456"/>
    <!--要存放的数据库连接地址-->
      <add  name="connHost" connectionString="server=.;database=JNMES;uid=sa;pwd=123456"/>
   
  </connectionStrings>

  <mes.ivtest>
    <devices>
      <add name="192.168.4.72"
           eqpName ="MBTST-IVT03"
           path="D:\IVTEST"
           type="Customer"
           connectionString="Provider=Microsoft.Jet.OleDb.4.0;Data Source={0}"
           format="{0:yyyy-MM-dd}.mdb"
           sql="SELECT Format(SunData.Test_Date,'yyyy-MM-dd ')+Format(SunData.Test_Time,'HH:mm:ss') AS TTIME,
	                SunData.[ID] AS LOT_NUMBER,
	                SunData.[FF] AS FF,
	                SunData.[Isc] AS ISC,
	                SunData.[ModEff] AS EFF,
	                SunData.[Rsh] AS RSH,
	                SunData.[Rs] AS RS,
	                SunData.[Voc] AS VOC,
	                SunData.[Ipm] AS IPM,
	                SunData.[Vpm] AS VPM,
	                SunData.[Pmax] AS PM,
	                SunData.[TMod] AS AMBIENTTEMP,
	                SunData.[EnvTemp] AS SENSORTEMP, 
	                SunData.[Insol] AS INTENSITY
                 FROM SunData"/>
      
      <!--<add name="10.0.17.51"
          eqpName ="MBTST-IVT01"
          path="D:\IVTest"
          type="Customer"
          connectionString="Provider=Microsoft.Jet.OleDb.4.0;Data Source={0}"
          format="{0:yyyy-MM-dd}.mdb"
          sql="SELECT Format(SunData.Test_Date,'yyyy-MM-dd ')+Format(SunData.Test_Time,'HH:mm:ss') AS TTIME,
	                SunData.[ID] AS LOT_NUMBER,
	                SunData.[FF] AS FF,
	                SunData.[Isc] AS ISC,
	                SunData.[ModEff] AS EFF,
	                SunData.[Rsh] AS RSH,
	                SunData.[Rs] AS RS,
	                SunData.[Voc] AS VOC,
	                SunData.[Ipm] AS IPM,
	                SunData.[Vpm] AS VPM,
	                SunData.[Pmax] AS PM,
	                SunData.[TMod] AS AMBIENTTEMP,
	                SunData.[EnvTemp] AS SENSORTEMP, 
	                SunData.[Insol] AS INTENSITY
                 FROM SunData"/>

      <add name="10.0.17.52"
           eqpName="MBTST-IVT02"
           path="d:\IVTest"
           type="Customer"
           connectionString="Provider=Microsoft.Jet.OleDb.4.0;Data Source={0}"
           format="{0:yyyy-MM-dd}.mdb"
           sql="SELECT Format(SunData.Test_Date,'yyyy-MM-dd ')+Format(SunData.Test_Time,'HH:mm:ss') AS TTIME,
	                SunData.[ID] AS LOT_NUMBER,
	                SunData.[FF] AS FF,
	                SunData.[Isc] AS ISC,
	                SunData.[ModEff] AS EFF,
	                SunData.[Rsh] AS RSH,
	                SunData.[Rs] AS RS,
	                SunData.[Voc] AS VOC,
	                SunData.[Ipm] AS IPM,
	                SunData.[Vpm] AS VPM,
	                SunData.[Pmax] AS PM,
	                SunData.[TMod] AS AMBIENTTEMP,
	                SunData.[EnvTemp] AS SENSORTEMP, 
	                SunData.[Insol] AS INTENSITY
                 FROM SunData"/>
      
       <add   name="10.0.17.53"
                 eqpName="MBTST-IVT03"
                 path="D:\IVTest"
                 type="Customer"
                 connectionString="Provider=Microsoft.Jet.OleDb.4.0;Data Source={0}"
                 format="{0:yyyy-MM-dd}.mdb"
                 sql="SELECT Format(SunData.Test_Date,'yyyy-MM-dd ')+Format(SunData.Test_Time,'HH:mm:ss') AS TTIME,
	                SunData.[ID] AS LOT_NUMBER,
	                SunData.[FF] AS FF,
	                SunData.[Isc] AS ISC,
	                SunData.[ModEff] AS EFF,
	                SunData.[Rsh] AS RSH,
	                SunData.[Rs] AS RS,
	                SunData.[Voc] AS VOC,
	                SunData.[Ipm] AS IPM,
	                SunData.[Vpm] AS VPM,
	                SunData.[Pmax] AS PM,
	                SunData.[TMod] AS AMBIENTTEMP,
	                SunData.[EnvTemp] AS SENSORTEMP, 
	                SunData.[Insol] AS INTENSITY
                 FROM SunData"/>
      
      <add name="10.0.18.70"
           eqpName="MATST-IVT01"
           path="D:\IVTest"
           type="Customer"
           connectionString="Provider=Microsoft.Jet.OleDb.4.0;Data Source={0}"
           format="{0:yyyy-MM-dd}.mdb"
           sql="SELECT Format(SunData.Test_Date,'yyyy-MM-dd ')+Format(SunData.Test_Time,'HH:mm:ss') AS TTIME,
	                SunData.[ID] AS LOT_NUMBER,
	                SunData.[FF] AS FF,
	                SunData.[Isc] AS ISC,
	                SunData.[ModEff] AS EFF,
	                SunData.[Rsh] AS RSH,
	                SunData.[Rs] AS RS,
	                SunData.[Voc] AS VOC,
	                SunData.[Ipm] AS IPM,
	                SunData.[Vpm] AS VPM,
	                SunData.[Pmax] AS PM,
	                SunData.[TMod] AS AMBIENTTEMP,
	                SunData.[EnvTemp] AS SENSORTEMP, 
	                SunData.[Insol] AS INTENSITY
                 FROM SunData"/>

      <add name="10.0.18.74"
           eqpName="MATST-IVT02"
           path="D:\IVTest"
           type="Customer"
           connectionString="Provider=Microsoft.Jet.OleDb.4.0;Data Source={0}"
           format="{0:yyyy-MM-dd}.mdb"
           sql="SELECT Format(SunData.Test_Date,'yyyy-MM-dd ')+Format(SunData.Test_Time,'HH:mm:ss') AS TTIME,
	                SunData.[ID] AS LOT_NUMBER,
	                SunData.[FF] AS FF,
	                SunData.[Isc] AS ISC,
	                SunData.[ModEff] AS EFF,
	                SunData.[Rsh] AS RSH,
	                SunData.[Rs] AS RS,
	                SunData.[Voc] AS VOC,
	                SunData.[Ipm] AS IPM,
	                SunData.[Vpm] AS VPM,
	                SunData.[Pmax] AS PM,
	                SunData.[TMod] AS AMBIENTTEMP,
	                SunData.[EnvTemp] AS SENSORTEMP, 
	                SunData.[Insol] AS INTENSITY
                 FROM SunData"/>-->
    
    </devices>
  </mes.ivtest>
</configuration>