@{
    ViewBag.Title = "关于";
}
<h2>@ViewBag.Title.</h2>
<div class="jumbotron">
    <h1>MES</h1>
    <p class="lead">MES是一套面向制造企业车间执行层的生产信息化管理系统。</p>
    <p><a href="#" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>