<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="mes.reader" type="WinClient.Socket.ReaderServer.Configuration.LotReaderConfigurationSection,WinClient.Socket.ReaderServer"/>
  </configSections>

  <connectionStrings>
    <add name="RPTDB" connectionString="Server=10.0.2.83;uid=sa;password=123456;initial catalog=JNMES;Pooling=true;Max Pool Size=40000;Min Pool Size=0;"/>
  </connectionStrings>
  
  
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="MES_BasicHttpBinding" maxBufferSize="2147483647"
          maxReceivedMessageSize="2147483647" />
        <binding name="TradLevelSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://10.0.2.83:8102/s/fmm/clientconfigattribute.svc"
        binding="basicHttpBinding" bindingConfiguration="MES_BasicHttpBinding"
        contract="ServiceCenter.MES.Service.Contract.FMM.IClientConfigAttributeContract"
        name="ServiceCenter.MES.Service.Contract.FMM.IClientConfigAttributeContract" />
      <endpoint address="http://10.0.2.83:8102/s/fmm/clientconfig.svc"
        binding="basicHttpBinding" bindingConfiguration="MES_BasicHttpBinding"
        contract="ServiceCenter.MES.Service.Contract.FMM.IClientConfigContract"
        name="ServiceCenter.MES.Service.Contract.FMM.IClientConfigContract" />
      <endpoint address="http://10.0.2.83:8102/s/wip/lotquery.svc"
        binding="basicHttpBinding" bindingConfiguration="MES_BasicHttpBinding"
        contract="ServiceCenter.MES.Service.Contract.WIP.ILotQueryContract"
        name="ServiceCenter.MES.Service.Contract.WIP.ILotQueryContract" />
      <endpoint address="http://10.0.2.83:8102/s/wip/lotjob.svc" binding="basicHttpBinding"
        bindingConfiguration="MES_BasicHttpBinding" contract="ServiceCenter.MES.Service.Contract.WIP.ILotJobContract"
        name="ServiceCenter.MES.Service.Contract.WIP.ILotJobContract" />
      <endpoint address="http://10.0.2.83:8102/s/wip/lotattr.svc" binding="basicHttpBinding"
        bindingConfiguration="MES_BasicHttpBinding" contract="ServiceCenter.MES.Service.Contract.WIP.ILotAttributeContract"
        name="ServiceCenter.MES.Service.Contract.WIP.ILotAttributeContract" />
      <endpoint address="http://10.0.2.83:8102/s/wip/lottrackin.svc"
        binding="basicHttpBinding" bindingConfiguration="MES_BasicHttpBinding"
        contract="ServiceCenter.MES.Service.Contract.WIP.ILotTrackInContract"
        name="ServiceCenter.MES.Service.Contract.WIP.ILotTrackInContract" />
      <endpoint address="http://10.0.2.83:8102/s/wip/lottrackout.svc"
        binding="basicHttpBinding" bindingConfiguration="MES_BasicHttpBinding"
        contract="ServiceCenter.MES.Service.Contract.WIP.ILotTrackOutContract"
        name="ServiceCenter.MES.Service.Contract.WIP.ILotTrackOutContract" />
      <endpoint address="http://10.0.2.83:8102/s/wip/wipengineer.svc"
        binding="basicHttpBinding" bindingConfiguration="MES_BasicHttpBinding"
        contract="ServiceCenter.MES.Service.Contract.WIP.IWipEngineerContract"
        name="ServiceCenter.MES.Service.Contract.WIP.IWipEngineerContract" />
      <endpoint address="http://10.0.2.78/TradLevel.asmx" binding="basicHttpBinding"
        bindingConfiguration="TradLevelSoap" contract="Service.TradLevelSoap"
        name="TradLevelSoap" />
      <endpoint address="http://10.0.2.83:8102/s/fmm/routestepparameter.svc" binding="basicHttpBinding" 
        bindingConfiguration="MES_BasicHttpBinding" contract="ServiceCenter.MES.Service.Contract.FMM.IRouteStepParameterContract" 
        name="ServiceCenter.MES.Service.Contract.FMM.IRouteStepParameterContract" />
      <endpoint address="http://10.0.2.83:8102/s/common/db.svc" binding="basicHttpBinding"
        bindingConfiguration="MES_BasicHttpBinding" contract="ServiceCenter.MES.Service.Contract.COMMON.IDBContract" 
        name="ServiceCenter.MES.Service.Contract.COMMON.IDBContract" />
    </client>
  </system.serviceModel>
  <mes.reader>
    <devices>
      <!--
      //区域 
      WorkShopId  102A=1  102B=2
      //流水线 
      FlowId  A线=1 B线=2 C线=3
      //产线动作 
      LineState  停线=1 启动=2
      //每条线的左右两个读头
      FlowSubId  右边=1  左边=2  需要根据现场情况定
      -->


      <add name="10.0.8.137"
           ReaderIP="10.0.8.137"
           FirstStepCode="上料"
           LineCode="102A-A"
           FirstEquipmentCode="MASLD-GRG01"
           SecondStepCode="焊接"
           SecondEquipmentCode="MASLD-STR01"
           WorkShop="102A"
           WorkShopId="1"
           FlowSubId="1"
           FlowId="1"/>
      <add name="10.0.13.13"
           ReaderIP="10.0.13.13"
           LineCode="102A-A"
           FirstStepCode="上料"
           FirstEquipmentCode="MASLD-GRG01"
           SecondStepCode="焊接"
           SecondEquipmentCode="MASLD-STR01"
           WorkShop="102A"
           WorkShopId="1"
           FlowId="1"
           FlowSubId="1"/>
      <add name="10.0.13.14"
          ReaderIP="10.0.13.14"
          WorkShop="102A"
          LineCode="102A-A"
          FirstStepCode="上料"
          FirstEquipmentCode="MASLD-GRG01"
          SecondStepCode="焊接"
          SecondEquipmentCode="MASLD-STR03"
          WorkShopId="1"
          FlowId="1"
          FlowSubId="2"/>

      
    </devices>
  </mes.reader>

<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
