<configuration>
  <configSections>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data" requirePermission="true"/>
    <section name="mes.JYNYtest" type="WinClient.JYNYTestDataTransfer.Configuration.JYNYTestConfigurationSection,WinClient.JYNYTestDataTransfer"/>
  </configSections>
  <dataConfiguration defaultDatabase="RPTDB"/>
  <connectionStrings>
    <add name="RPTDB"
         connectionString="Server=10.0.2.121;uid=sa;password=#*c123456;initial catalog=JNMES;Pooling=true;Max Pool Size=40000;Min Pool Size=0;"
         providerName="System.Data.SqlClient"/>
  </connectionStrings>

  <mes.JYNYtest>
    <devices>
      <add name="10.0.5.180"
           eqpName ="MATST-JYNY-A"
           path="F:\"
           type="Customer"
           connectionString="Provider=Microsoft.Jet.OleDb.4.0;Data Source={0}"
           format="{0:yyyy-MM-dd}.mdb"
            sql = "SELECT Format(data.[日期],'yyyy-MM-dd ')+Format(data.[时间],'HH:mm:ss') AS TEST_TIME,
            	      data.[ID] AS TEST_ID,
	                  data.[产品条码] AS LOT_NUMBER,
	                  data.[测试结果] AS TEST_RESULT,
	                  data.[是否测试] AS TEST_FLAG,
	                  data.[步骤] AS TEST_STEP_SEQ,
	                  data.[测试类型] AS TEST_TYPE,
	                  data.[步骤判断] AS TEST_STEP_RESULT,
	                  data.[测试数据1] AS TEST_PARAM1,
	                  data.[测试数据2] AS TEST_PARAM2,
	                  data.[PROMPT],
	                  data.[VOLTAGE], 
                    data.[FREQUENCY],
	                  data.[Current] AS ECURREN,
	                  data.[HILIMIT],
	                  data.[LOLIMIT],
	                  data.[RAMPUP], 
                    data.[DWELLTIME],
                    data.[DELAYTIME],
                    data.[RAMPHI], 
                    data.[CHARGELO],
                    data.[OFFSET], 
                    data.[ARCSENSE],
                    data.[ARCFAIL],
                    data.[SCANNER]
                FROM data"/>

      <add name="10.0.18.136"
           eqpName ="MATST-JYNY-A"
           path="F:\"
           type="Customer"
           connectionString="Provider=Microsoft.Jet.OleDb.4.0;Data Source={0}"
           format="{0:yyyy-MM-dd}.mdb"
            sql = "SELECT Format(data.[日期],'yyyy-MM-dd ')+Format(data.[时间],'HH:mm:ss') AS TEST_TIME,
            	      data.[ID] AS TEST_ID,
	                  data.[产品条码] AS LOT_NUMBER,
	                  data.[测试结果] AS TEST_RESULT,
	                  data.[是否测试] AS TEST_FLAG,
	                  data.[步骤] AS TEST_STEP_SEQ,
	                  data.[测试类型] AS TEST_TYPE,
	                  data.[步骤判断] AS TEST_STEP_RESULT,
	                  data.[测试数据1] AS TEST_PARAM1,
	                  data.[测试数据2] AS TEST_PARAM2,
	                  data.[PROMPT],
	                  data.[VOLTAGE], 
                    data.[FREQUENCY],
	                  data.[Current] AS ECURREN,
	                  data.[HILIMIT],
	                  data.[LOLIMIT],
	                  data.[RAMPUP], 
                    data.[DWELLTIME],
                    data.[DELAYTIME],
                    data.[RAMPHI], 
                    data.[CHARGELO],
                    data.[OFFSET], 
                    data.[ARCSENSE],
                    data.[ARCFAIL],
                    data.[SCANNER]
                FROM data"/>

    </devices>
  </mes.JYNYtest>
</configuration>