<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data" requirePermission="true"/>
    <section name="mes.image" type="ServiceCenter.Client.WinService.ImageDataTransfer.Configuration.ImageConfigurationSection,ImageDataTransfer"/>
  </configSections>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="MES_BasicHttpBinding"
                 maxBufferSize="2147483647"
                 maxReceivedMessageSize="2147483647"/>
      </basicHttpBinding>
    </bindings>
    <!--<client>
      --><!--FMM--><!--
      <endpoint address="http://localhost:8102/s/fmm/clientconfigattribute.svc"
                binding="basicHttpBinding"
                bindingConfiguration="MES_BasicHttpBinding"
                contract="ServiceCenter.MES.Service.Contract.FMM.IClientConfigAttributeContract"
                name="ServiceCenter.MES.Service.Contract.FMM.IClientConfigAttributeContract" />
      <endpoint address="http://localhost:8102/s/fmm/clientconfig.svc"
                binding="basicHttpBinding"
                bindingConfiguration="MES_BasicHttpBinding"
                contract="ServiceCenter.MES.Service.Contract.FMM.IClientConfigContract"
                name="ServiceCenter.MES.Service.Contract.FMM.IClientConfigContract" />
      --><!--WIP--><!--
      <endpoint address="http://localhost:8102/s/wip/lotquery.svc"
               binding="basicHttpBinding"
               bindingConfiguration="MES_BasicHttpBinding"
               contract="ServiceCenter.MES.Service.Contract.WIP.ILotQueryContract"
               name="ServiceCenter.MES.Service.Contract.WIP.ILotQueryContract" />
      <endpoint address="http://localhost:8102/s/wip/lotjob.svc"
               binding="basicHttpBinding"
               bindingConfiguration="MES_BasicHttpBinding"
               contract="ServiceCenter.MES.Service.Contract.WIP.ILotJobContract"
               name="ServiceCenter.MES.Service.Contract.WIP.ILotJobContract" />
      <endpoint address="http://localhost:8102/s/wip/lotattr.svc"
               binding="basicHttpBinding"
               bindingConfiguration="MES_BasicHttpBinding"
               contract="ServiceCenter.MES.Service.Contract.WIP.ILotAttributeContract"
               name="ServiceCenter.MES.Service.Contract.WIP.ILotAttributeContract" />
      <endpoint address="http://localhost:8102/s/wip/lottrackin.svc"
                binding="basicHttpBinding"
                bindingConfiguration="MES_BasicHttpBinding"
                contract="ServiceCenter.MES.Service.Contract.WIP.ILotTrackInContract"
                name="ServiceCenter.MES.Service.Contract.WIP.ILotTrackInContract" />
      <endpoint address="http://localhost:8102/s/wip/lottrackout.svc"
                binding="basicHttpBinding"
                bindingConfiguration="MES_BasicHttpBinding"
                contract="ServiceCenter.MES.Service.Contract.WIP.ILotTrackOutContract"
                name="ServiceCenter.MES.Service.Contract.WIP.ILotTrackOutContract" />
    </client>-->
  </system.serviceModel>
  <mes.image>
    <devices>
      <!--
        <add name="【必选】设备标识符" 
             type="【必选】设备类型 EL1,EL2,EL,IV" 
             sourcePathRoot="【必选】设备数据所在文件夹根路径"  
             sourcePathFormat="【必选】设备数据所在文件夹路径格式化参数。 {0:yyyy-mm-dd}"
             fileExtensionName="【必选】设备数据文件扩展名。jpg/png/gifb"
             isDeleteSourceFile="【必选】是否删除源文件 true or false。如果不删除源文件会将源文件移动到源文件夹下的一个特殊文件夹LocalFiles下。"
             targetPathRoot="【必选】设备数据目标文件夹根路径。"
             httpPathRoot="【必选】HTTP访问根路径。"
             />
      -->
    
     <add name="MBLMN-ELB01"
            type="EL1"
            sourcePathRoot="E:\Images\EL1"
            sourcePathFormat="{0:yyyy_MM}\{0:MM_dd}"
            fileExtensionName="jpg"
            isDeleteSourceFile="false"
            targetPathRoot="Z:\Image\EL1"
            httpPathRoot="http://10.0.2.133:5102/Image/EL1"/>
     
    </devices>
  </mes.image>
</configuration>