<configuration>
  <configSections>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data" requirePermission="true"/>
    <section name="mes.ELImage" type="WinClient.ELImageTransfer.Configuration.ELImageConfigurationSection,WinClient.ELImageTransfer"/>
  </configSections>

  <mes.ELImage>
    <devices>
      <add name="10.0.8.137"
           eqpName ="102A-A"
           sourceImagePathRoot="D:\JuNeng\ThinkEyes_Image"
           sourceImagePathFormat="{0:yyyy_MM}\{0:MM_dd}"
           imageExtensionName="jpg"
           isDeleteSourceImage="false"
           ftpServer ="10.0.2.133:21"
           ftpUser ="mis"
           ftpPassword ="Abc123456"
           ftpTargetFolder ="EL3"
           />
    </devices>
  </mes.ELImage>
</configuration>