<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="mes.ivtest" type="ServiceCenter.Client.WinService.IVTestDataTransfer.Configuration.IVTestConfigurationSection,ServiceCenter.Client.WinService.IVTestDataTransfer"/>
  </configSections>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="MES_BasicHttpBinding" 
                 maxBufferSize="2147483647" 
                 maxReceivedMessageSize="2147483647"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <!--FMM-->
      <endpoint address="http://localhost:8102/s/fmm/clientconfigattribute.svc" 
                binding="basicHttpBinding" 
                bindingConfiguration="MES_BasicHttpBinding" 
                contract="ServiceCenter.MES.Service.Contract.FMM.IClientConfigAttributeContract" 
                name="ServiceCenter.MES.Service.Contract.FMM.IClientConfigAttributeContract" />
      <endpoint address="http://localhost:8102/s/fmm/clientconfig.svc"
                binding="basicHttpBinding"
                bindingConfiguration="MES_BasicHttpBinding"
                contract="ServiceCenter.MES.Service.Contract.FMM.IClientConfigContract"
                name="ServiceCenter.MES.Service.Contract.FMM.IClientConfigContract" />
      <!--WIP-->
      <endpoint address="http://localhost:8102/s/wip/lotquery.svc"
               binding="basicHttpBinding"
               bindingConfiguration="MES_BasicHttpBinding"
               contract="ServiceCenter.MES.Service.Contract.WIP.ILotQueryContract"
               name="ServiceCenter.MES.Service.Contract.WIP.ILotQueryContract" />
      <endpoint address="http://localhost:8102/s/wip/lotjob.svc"
               binding="basicHttpBinding"
               bindingConfiguration="MES_BasicHttpBinding"
               contract="ServiceCenter.MES.Service.Contract.WIP.ILotJobContract"
               name="ServiceCenter.MES.Service.Contract.WIP.ILotJobContract" />
      <endpoint address="http://localhost:8102/s/wip/lotattr.svc"
               binding="basicHttpBinding"
               bindingConfiguration="MES_BasicHttpBinding"
               contract="ServiceCenter.MES.Service.Contract.WIP.ILotAttributeContract"
               name="ServiceCenter.MES.Service.Contract.WIP.ILotAttributeContract" />
      <endpoint address="http://localhost:8102/s/wip/lottrackin.svc" 
                binding="basicHttpBinding" 
                bindingConfiguration="MES_BasicHttpBinding" 
                contract="ServiceCenter.MES.Service.Contract.WIP.ILotTrackInContract" 
                name="ServiceCenter.MES.Service.Contract.WIP.ILotTrackInContract" />
      <endpoint address="http://localhost:8102/s/wip/lottrackout.svc" 
                binding="basicHttpBinding" 
                bindingConfiguration="MES_BasicHttpBinding" 
                contract="ServiceCenter.MES.Service.Contract.WIP.ILotTrackOutContract" 
                name="ServiceCenter.MES.Service.Contract.WIP.ILotTrackOutContract" />
      <!--ZPVM-->
      <endpoint address="http://localhost:8102/s/zpvm/ivtestdata_transfer.svc" 
                binding="basicHttpBinding" 
                bindingConfiguration="MES_BasicHttpBinding" 
                contract="ServiceCenter.MES.Service.Contract.ZPVM.IIVTestDataTransferContract" 
                name="ServiceCenter.MES.Service.Contract.ZPVM.IIVTestDataTransferContract" />
      <endpoint address="http://localhost:8102/s/zpvm/ivtestdata.svc" 
                binding="basicHttpBinding" 
                bindingConfiguration="MES_BasicHttpBinding" 
                contract="ServiceCenter.MES.Service.Contract.ZPVM.IIVTestDataContract" 
                name="ServiceCenter.MES.Service.Contract.ZPVM.IIVTestDataContract" />
    </client>
  </system.serviceModel>
  <mes.ivtest>
    <devices>
      <!--
        <add name="【必选】设备标识符" 
             path="【必选】设备测试数据所在文件夹路径"  
             type="【必选】设备类型 Customer,SunData,Results" 
             connectionString="【必选】设备测试数据数据库连接字符串。Provider=Microsoft.Jet.OleDb.4.0;Data Source={0}"
             format="【可选】设备测试数据文件的格式化字符串。有一个参数代表时间,例如：PRINT_{0:yyyyMMdd}.mdb"
             sql="【可选】SQL查询语句。type="Customer"时有效。"
             />
        自定义SQL必需字段名称：
            TTIME 测试时间
            LOT_NUMBER 批次号
            FF 填充因子
            ISC 测试短路电流
            EFF 组件转换效率
            RSH 串联电阻
            RS 并联电阻
            VOC 测试开路电压
            IPM 测试最大电流
            PM 测试最大功率
            AMBIENTTEMP 测度温度
            SENSORTEMP 环境温度
            INTENSITY 光强
        ACCESS数据库连接提供者类型：
            Microsoft.Jet.OleDb.4.0
            Microsoft.ACE.OLEDB.12.0
      -->
      <add name="MBTST-IVT01"
           path="\\192.168.20.51\IVTest" 
           type="Customer" 
           connectionString="Provider=Microsoft.Jet.OleDb.4.0;Data Source={0}"
           format="{0:yyyy-MM-dd}.mdb"
           sql="SELECT Format(SunData.Test_Date,'yyyy-MM-dd ')+Format(SunData.Test_Time,'HH:mm:ss') AS TTIME,
	                SunData.[ID] AS LOT_NUMBER,
	                SunData.[FF] AS FF,
	                SunData.[Isc] AS ISC,
	                SunData.[ModEff] AS EFF,
	                SunData.[Rsh] AS RSH,
	                SunData.[Rs] AS RS,
	                SunData.[Voc] AS VOC,
	                SunData.[Ipm] AS IPM,
	                SunData.[Vpm] AS VPM,
	                SunData.[Pmax] AS PM,
	                SunData.[TMod] AS AMBIENTTEMP,
	                SunData.[EnvTemp] AS SENSORTEMP, 
	                SunData.[Insol] AS INTENSITY
                 FROM SunData"/>
    </devices>
  </mes.ivtest>
</configuration>