
<div id="_list">
    <table class="table table-hover table-bordered table-condensed table-responsive table-striped">
        <thead>
            <tr class="active">
                <td nowrap>匹配率</td>
            </tr>
        </thead>

            <tbody>
                    <tr>
                       <td nowrap>@ViewBag.Proportion</td>
                   </tr>
            </tbody>
    </table>
</div>