<configuration>
  <configSections>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data" requirePermission="true"/>
    <section name="mes.ivtest" type="WinClient.VTestDataTransfer.Configuration.IVTestConfigurationSection,WinClient.VTestDataTransfer"/>
  </configSections>
  <dataConfiguration defaultDatabase="RPTDB"/>
  <connectionStrings>
    <!--<add name="RPTDB"
         connectionString="Server=10.0.2.121;uid=sa;password=#*c123456;initial catalog=JNMES;Pooling=true;Max Pool Size=40000;Min Pool Size=0;"
         providerName="System.Data.SqlClient"/>-->
    <add name="RPTDB"
     connectionString="Server=MESSPC;uid=test;password=Test123456;initial catalog=JNMES;Pooling=true;Max Pool Size=40000;Min Pool Size=0;"
     providerName="System.Data.SqlClient"/>
    <!--<add name="RPTDB"
     connectionString="Server=10.0.2.79;uid=mesp;password=DataM@321;initial catalog=JNMES;Pooling=true;Max Pool Size=40000;Min Pool Size=0;"
     providerName="System.Data.SqlClient"/>-->
  </connectionStrings>

  <mes.ivtest>
    <devices>

      <add name="10.0.8.164"
           eqpName ="MATST-IVT01"
           path="E:\IVTEST"
           type="Customer"
           connectionString="Provider=Microsoft.Jet.OleDb.4.0;Data Source={0}"
           format="{0:yyyy-MM-dd}.mdb"
           sql="SELECT Format(SunData.Test_Date,'yyyy-MM-dd ')+Format(SunData.Test_Time,'HH:mm:ss') AS TTIME,
	                SunData.[ID] AS LOT_NUMBER,
	                SunData.[FF] AS FF,
	                SunData.[Isc] AS ISC,
	                SunData.[ModEff] AS EFF,
	                SunData.[Rsh] AS RSH,
	                SunData.[Rs] AS RS,
	                SunData.[Voc] AS VOC,
	                SunData.[Ipm] AS IPM,
	                SunData.[Vpm] AS VPM,
	                SunData.[Pmax] AS PM,
	                SunData.[TMod] AS AMBIENTTEMP,
	                SunData.[EnvTemp] AS SENSORTEMP, 
	                SunData.[Insol] AS INTENSITY,
                  SunData.[StdIsc1] AS STDISC1,
                  SunData.[Stdsun1] AS STDSUN1,
                  SunData.[StdIsc2] AS STDISC2,
                  SunData.[Stdsun2] AS STDSUN2
                 FROM SunData"
           
           sourceImagePathRoot="E:\IVTEST\"
           sourceImagePathFormat="{0:yyyy_MM}\{0:MM_dd}"
           imageExtensionName="GIF"
           isDeleteSourceImage="false"
           ftpServer ="10.0.2.133:21"
           ftpUser ="mis"
           ftpPassword ="Abc123456"
           ftpTargetFolder ="IV"
           />
      <add name="10.0.18.70"
           eqpName ="MATST-IVT01"
           path="E:\IVTEST"
           type="Customer"
           connectionString="Provider=Microsoft.Jet.OleDb.4.0;Data Source={0}"
           format="{0:yyyy-MM-dd}.mdb"
           sql="SELECT Format(SunData.Test_Date,'yyyy-MM-dd ')+Format(SunData.Test_Time,'HH:mm:ss') AS TTIME,
	                SunData.[ID] AS LOT_NUMBER,
	                SunData.[FF] AS FF,
	                SunData.[Isc] AS ISC,
	                SunData.[ModEff] AS EFF,
	                SunData.[Rsh] AS RSH,
	                SunData.[Rs] AS RS,
	                SunData.[Voc] AS VOC,
	                SunData.[Ipm] AS IPM,
	                SunData.[Vpm] AS VPM,
	                SunData.[Pmax] AS PM,
	                SunData.[TMod] AS AMBIENTTEMP,
	                SunData.[EnvTemp] AS SENSORTEMP, 
	                SunData.[Insol] AS INTENSITY
                 FROM SunData"
           
           sourceImagePathRoot="E:\IVTEST\jpg\"
           sourceImagePathFormat="{0:yyyy_MM}\{0:MM_dd}"
           imageExtensionName="GIF"
           isDeleteSourceImage="false"
           ftpServer ="10.0.2.133:21"
           ftpUser ="mis"
           ftpPassword ="Abc123456"
           ftpTargetFolder ="IV"
           />

      <add name="10.0.18.74"
     eqpName ="MATST-IVT02"
     path="E:\IVTEST"
     type="Customer"
     connectionString="Provider=Microsoft.Jet.OleDb.4.0;Data Source={0}"
     format="{0:yyyy-MM-dd}.mdb"
     sql="SELECT Format(SunData.Test_Date,'yyyy-MM-dd ')+Format(SunData.Test_Time,'HH:mm:ss') AS TTIME,
	                SunData.[ID] AS LOT_NUMBER,
	                SunData.[FF] AS FF,
	                SunData.[Isc] AS ISC,
	                SunData.[ModEff] AS EFF,
	                SunData.[Rsh] AS RSH,
	                SunData.[Rs] AS RS,
	                SunData.[Voc] AS VOC,
	                SunData.[Ipm] AS IPM,
	                SunData.[Vpm] AS VPM,
	                SunData.[Pmax] AS PM,
	                SunData.[TMod] AS AMBIENTTEMP,
	                SunData.[EnvTemp] AS SENSORTEMP, 
	                SunData.[Insol] AS INTENSITY
                 FROM SunData"
           
     sourceImagePathRoot="E:\IVTEST\jpg\"
     sourceImagePathFormat="{0:yyyy_MM}\{0:MM_dd}"
     imageExtensionName="GIF"
     isDeleteSourceImage="false"
     ftpServer ="10.0.2.133:21"
     ftpUser ="mis"
     ftpPassword ="Abc123456"
     ftpTargetFolder ="IV"
           />
      <add name="10.0.17.51"
     eqpName ="MBTST-IVT01"
     path="E:\IVTEST"
     type="Customer"
     connectionString="Provider=Microsoft.Jet.OleDb.4.0;Data Source={0}"
     format="{0:yyyy-MM-dd}.mdb"
     sql="SELECT Format(SunData.Test_Date,'yyyy-MM-dd ')+Format(SunData.Test_Time,'HH:mm:ss') AS TTIME,
	                SunData.[ID] AS LOT_NUMBER,
	                SunData.[FF] AS FF,
	                SunData.[Isc] AS ISC,
	                SunData.[ModEff] AS EFF,
	                SunData.[Rsh] AS RSH,
	                SunData.[Rs] AS RS,
	                SunData.[Voc] AS VOC,
	                SunData.[Ipm] AS IPM,
	                SunData.[Vpm] AS VPM,
	                SunData.[Pmax] AS PM,
	                SunData.[TMod] AS AMBIENTTEMP,
	                SunData.[EnvTemp] AS SENSORTEMP, 
	                SunData.[Insol] AS INTENSITY
                 FROM SunData"
           
     sourceImagePathRoot="E:\IVTEST\jpg\"
     sourceImagePathFormat="{0:yyyy_MM}\{0:MM_dd}"
     imageExtensionName="GIF"
     isDeleteSourceImage="false"
     ftpServer ="10.0.2.133:21"
     ftpUser ="mis"
     ftpPassword ="Abc123456"
     ftpTargetFolder ="IV"
           />
      <add name="10.0.17.52"
     eqpName ="MBTST-IVT02"
     path="E:\IVTEST"
     type="Customer"
     connectionString="Provider=Microsoft.Jet.OleDb.4.0;Data Source={0}"
     format="{0:yyyy-MM-dd}.mdb"
     sql="SELECT Format(SunData.Test_Date,'yyyy-MM-dd ')+Format(SunData.Test_Time,'HH:mm:ss') AS TTIME,
	                SunData.[ID] AS LOT_NUMBER,
	                SunData.[FF] AS FF,
	                SunData.[Isc] AS ISC,
	                SunData.[ModEff] AS EFF,
	                SunData.[Rsh] AS RSH,
	                SunData.[Rs] AS RS,
	                SunData.[Voc] AS VOC,
	                SunData.[Ipm] AS IPM,
	                SunData.[Vpm] AS VPM,
	                SunData.[Pmax] AS PM,
	                SunData.[TMod] AS AMBIENTTEMP,
	                SunData.[EnvTemp] AS SENSORTEMP, 
	                SunData.[Insol] AS INTENSITY
                 FROM SunData"
           
     sourceImagePathRoot="E:\IVTEST\jpg\"
     sourceImagePathFormat="{0:yyyy_MM}\{0:MM_dd}"
     imageExtensionName="GIF"
     isDeleteSourceImage="false"
     ftpServer ="10.0.2.133:21"
     ftpUser ="mis"
     ftpPassword ="Abc123456"
     ftpTargetFolder ="IV"
           />
      <add name="10.0.17.53"
     eqpName ="MBTST-IVT03"
     path="E:\IVTEST"
     type="Customer"
     connectionString="Provider=Microsoft.Jet.OleDb.4.0;Data Source={0}"
     format="{0:yyyy-MM-dd}.mdb"
     sql="SELECT Format(SunData.Test_Date,'yyyy-MM-dd ')+Format(SunData.Test_Time,'HH:mm:ss') AS TTIME,
	                SunData.[ID] AS LOT_NUMBER,
	                SunData.[FF] AS FF,
	                SunData.[Isc] AS ISC,
	                SunData.[ModEff] AS EFF,
	                SunData.[Rsh] AS RSH,
	                SunData.[Rs] AS RS,
	                SunData.[Voc] AS VOC,
	                SunData.[Ipm] AS IPM,
	                SunData.[Vpm] AS VPM,
	                SunData.[Pmax] AS PM,
	                SunData.[TMod] AS AMBIENTTEMP,
	                SunData.[EnvTemp] AS SENSORTEMP, 
	                SunData.[Insol] AS INTENSITY
                 FROM SunData"
           
     sourceImagePathRoot="E:\IVTEST\jpg\"
     sourceImagePathFormat="{0:yyyy_MM}\{0:MM_dd}"
     imageExtensionName="GIF"
     isDeleteSourceImage="false"
     ftpServer ="10.0.2.133:21"
     ftpUser ="mis"
     ftpPassword ="Abc123456"
     ftpTargetFolder ="IV"
           />

    </devices>
  </mes.ivtest>
</configuration>