<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="MES_BasicHttpBinding" 
                 maxBufferSize="2147483647" 
                 maxReceivedMessageSize="2147483647"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <!--FMM-->
      <endpoint address="http://localhost:8102/s/fmm/clientconfigattribute.svc" 
                binding="basicHttpBinding" 
                bindingConfiguration="MES_BasicHttpBinding" 
                contract="ServiceCenter.MES.Service.Contract.FMM.IClientConfigAttributeContract" 
                name="ServiceCenter.MES.Service.Contract.FMM.IClientConfigAttributeContract" />
      <endpoint address="http://localhost:8102/s/fmm/clientconfig.svc"
                binding="basicHttpBinding"
                bindingConfiguration="MES_BasicHttpBinding"
                contract="ServiceCenter.MES.Service.Contract.FMM.IClientConfigContract"
                name="ServiceCenter.MES.Service.Contract.FMM.IClientConfigContract" />
      <!--WIP-->
      <endpoint address="http://localhost:8102/s/wip/lotquery.svc"
               binding="basicHttpBinding"
               bindingConfiguration="MES_BasicHttpBinding"
               contract="ServiceCenter.MES.Service.Contract.WIP.ILotQueryContract"
               name="ServiceCenter.MES.Service.Contract.WIP.ILotQueryContract" />
      <endpoint address="http://localhost:8102/s/wip/lotjob.svc"
               binding="basicHttpBinding"
               bindingConfiguration="MES_BasicHttpBinding"
               contract="ServiceCenter.MES.Service.Contract.WIP.ILotJobContract"
               name="ServiceCenter.MES.Service.Contract.WIP.ILotJobContract" />
      <endpoint address="http://localhost:8102/s/wip/lotattr.svc"
               binding="basicHttpBinding"
               bindingConfiguration="MES_BasicHttpBinding"
               contract="ServiceCenter.MES.Service.Contract.WIP.ILotAttributeContract"
               name="ServiceCenter.MES.Service.Contract.WIP.ILotAttributeContract" />
      <endpoint address="http://localhost:8102/s/wip/lottrackin.svc" 
                binding="basicHttpBinding" 
                bindingConfiguration="MES_BasicHttpBinding" 
                contract="ServiceCenter.MES.Service.Contract.WIP.ILotTrackInContract" 
                name="ServiceCenter.MES.Service.Contract.WIP.ILotTrackInContract" />
      <endpoint address="http://localhost:8102/s/wip/lottrackout.svc" 
                binding="basicHttpBinding" 
                bindingConfiguration="MES_BasicHttpBinding" 
                contract="ServiceCenter.MES.Service.Contract.WIP.ILotTrackOutContract" 
                name="ServiceCenter.MES.Service.Contract.WIP.ILotTrackOutContract" />
    </client>
  </system.serviceModel>
</configuration>